body{
	font-family: 'Raleway', sans-serif;
	color: #efefef; /*gray*/
	text-shadow: 1px 1px 15px #000; /*000 is black*/
	background: 

	/*top, transparent */ 
	linear-gradient(
		rgba(17,126,112, 0.60), 
		rgba(0, 88, 255, 0.35)
		),

	url(./images/body-background.jpg);

	background-size: cover; /* cover the div size or screen size */
	background-position: top;
	/*background-repeat: no-repeat; /*by default it is repeat*/*/
}

main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	display: flex;
	align-items: center;
	width: 75%;

}

.overview{
	padding: 3rem;

}

.fullname{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 0.5rem;
}

.job-title{
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	margin-bottom: 1rem;
	font-weight: bolder; /* bold also have same result */
}



hr{
	width: 5rem;
	border: none;
	height: 2px;
	background: #00BCD4; /*skyblue*/
	margin: 1.5rem 0;
}

.description{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.works a{
	text-decoration: none;
}

.social-media a{
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: 0.75;

}

.social-media a:hover{
	opacity: 1;
}

.ad{
	margin: .5rem;
	font-size: 1rem;
}

.ad a{
	text-decoration: none;
	color: #fff;
}

.ad a:hover{
	color: #000;
}

.image-container{
	width: 100%;
	padding: 3rem;

}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
	border: 3px red solid;
}


